<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RESTaurant</title>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<h2>Add a new order</h2>
<form id="addForm">
    <p>Name: <input type="text" id="cafeType"></p>
    <button id="addOrder">Add order</button>
</form>
<div id="openOrders">
    <h2>New Orders</h2>
    <ul id="orders"> Coffee Orderss</ul>
</div>

<div id="in-progress">
    <h2>Orders In-Progress</h2>
    <ul> Coffee Orderss</ul>
</div>

<div id="comleted">

</div>


<script type="application/javascript">
    $(document).ready(function () {

        document.getElementById("addForm").addEventListener('submit', postOrder);
        // document.getElementById("orders").addEventListener('click', inProgress);

        changeStatus();
        loadAllNotCompletedOrders();

        function loadAllNotCompletedOrders() {

            $.ajax({
                type: 'GET',
                url: 'http://localhost:8080/order/',
                async: true,
                success: function (data) {
                    //sort data
                    console.log('success', data);
                    var ordersFetched = data["_embedded"]["orderList"];
                    var ordersOpen = [];
                    var ordersInProgress = [];
                    for (var i in ordersFetched) {
                        var order = ordersFetched[i];
                        order["status"] == "OPEN" ? ordersOpen.push(order) : ordersInProgress.push(order);
                        console.log('i', ordersFetched[i]);
                    }

                    appedToHtml(ordersOpen, '#openOrders');
                    appedToHtml(ordersInProgress, '#in-progress');
                }
            });

        }


        function appedToHtml(data, sectionId) {
            console.log("data in appentToHtml", data);

            for (var i in data) {
                var status = data[i]["status"];
                var order = data[i]["orderedItems"];
                var links = data[i]["_links"];
                var inProgressUrl = links["in-progress"]['href'];
                var completeUrl = links["completed"]['href'];

                if(status == 'OPEN'){
                    $(sectionId).append(
                        "<li>" + status + " " + order + " " +
                        // '<button id="progressing" formaction='+inProgressUrl+' onClick="window.location.reload();">In-progress</button>'+ " "+
                        '<button id="progressing" formaction=' + inProgressUrl + '>In-progress</button>' + " " +
                        // '<button id="complete" formaction='+completeUrl+' onClick="window.location.reload();">Complete</button>'+
                        '<button id="complete" formaction=' + completeUrl + '>Complete</button>' +
                        "</li>");
                }

                if(status == 'IN_PROGRESS') {
                    $(sectionId).append(
                        "<li>" + status + " " + order + " " +
                        // '<button id="complete" formaction='+completeUrl+' onClick="window.location.reload();">Complete</button>'+
                        '<button id="complete" formaction=' + completeUrl + '>Complete</button>' +
                        "</li>");
                }
            }
        }

        function postOrder() {
            var order = document.getElementById('cafeType').value;
            console.log(order);
            if (order == "") {
                alert("Order cannot be empty");
            } else {
                var toDB = {orderedItems: order};

                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:8080/order/',
                    async: true,
                    data: JSON.stringify(toDB),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json"
                });
            }
        }


        function changeStatus() {
            $('#openOrders,#in-progress').click(function (event) {
                var element = $(event.target.nodeName);
                var tag = event.target.tagName;
                var id = event.target.id;
                console.log('tag', tag);
                console.log('id', id);
                if (element.is('BUTTON')) {
                    var link = event.target.getAttribute("formaction");
                    console.log('PUT link', link);
                    $.ajax({
                        type: 'PUT',
                        url: link,
                        async: true,
                        data: "",
                        contentType: "application/json; charset=utf-8"
                    });
                    // $(event.target).hide();
                    window.location.reload();
                }
            });
        }
    });


</script>
</body>
</html>